body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.square-box {
  width: 50%;
  aspect-ratio: 1; /* Trick for creating a square div */
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

h1,
h2,
p {
  margin: 10px 0;
}
